/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Full height for React root */
html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* Do NOT center here */
body {
  font-family: Arial, sans-serif;
  overflow: hidden;
}
