.login-page {
  width: 100vw;
  height: 100vh;

  background-image: url("/pet-bg.png");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 380px;
  padding: 30px;
  border-radius: 14px;
  text-align: center;

  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.login-card h2 {
  margin-bottom: 20px;
  color: #222;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background: #ffc107;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.link {
  margin-top: 15px;
  color: #0066cc;
  cursor: pointer;
}
